@use "@/scss/variables" as var;

.header {
    grid-area: header;


    display: grid;
    grid-template-columns: repeat(3, 20% 60% 20%);
    background-color: var.$color-danger-200;
    height: 300px;
    width: 100vw;
    padding: var.$spacing-sm;


    :first-child {
        grid-column: 2;
        justify-self: start;
        align-self: center;
        margin-right: 3rem;
    }

    :last-child {
        grid-column: 3;
        justify-self: end;
        align-self: start;


    }





}