@use "@/scss/variables" as var;

.footer {
    grid-area: footer;
    background-color: var.$color-danger-200;
    height: 150px;
    padding: var.$spacing-sm 5%;

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: var.$spacing-xs;
    }


    &__copyright {
        color: var.$color-primary-600;
        font-size: var.$font-size-sm;
        font-weight: var.$font-weight-regular;
        padding: var.$spacing-md;
        text-align: center;
    }

}